*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Muli-Regular', sans-serif;
}
 
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
 
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}
 
input,
button,
textarea,
select {
  font: inherit;
}
 
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
 
p {
  text-wrap: pretty;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
 
ul {
  margin: 0;
  padding: 0;
}
 
 
body {
  font-family: 'Muli', sans-serif;
}
 
/* Contenido y paneles */
/* Estilo general */
.page-content {
  margin: auto;
  max-width: 1750px;
  padding: 10px;
  margin-bottom: 20px;
}
 
 
 
:root {
  --logifruit: #00af66;
  --logifruit-secundario: #9ACC9A;
  --logifruit-degradado: linear-gradient(to top, #00AF66 0%, #9ACC9A 100%);
  --naranja: rgb(240, 128, 70);
  --neutralBlack: rgb(34, 34, 34);
  --sesentaNegro: rgb(105, 101, 103);
  --bg: #ECECEC;
  --amarillo-cuadre: #EFCA06;
  --rojo-logifruit: #E40335;
  --border-radius: 10px
}
 
.panel {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  background: white;
  position: relative;
  z-index: 1;
  padding: 15px;
}
 
 
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}
 
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #e0e3ec !important;
}
 
.mdc-line-ripple {
  display: none;
}
 
.mdc-text-field {
  border-radius: var(--border-radius) !important;
}
 
 
 
/****************** CALENDARIO **************************/
 
.mat-calendar-body-selected {
  background-color: var(--logifruit) !important;
  color: white !important;
}
 
.mat-calendar-body-today {
  border: 2px solid var(--logifruit);
  border-radius: 50%;
  background-color: transparent;
  color: var(--logifruit);
  border-color: var(--logifruit);
}
 
.mat-calendar-body-selected {
  border-color: var(--logifruit);
}
 
 
 
/******************* TABLAS ***************************/
 
.mat-mdc-table thead,
.mat-mdc-table .mat-mdc-header-row,
.mat-mdc-table .mat-mdc-header-cell {
  background: var(--logifruit);
  overflow: visible !important;
  color: white;
}
 
.panel-table {
  padding: 0;
}
 
 
 
.table-container {
  border-radius: 10px 10px 0 0 !important;
  max-height: 600px;
  overflow-y: auto;
}
 
.mat-mdc-cell {
  font-size: 13px !important;
}
 
.mat-mdc-paginator {
  border-radius: 10px;
}
 
.mat-mdc-table,
mat-paginator,
mat-expansion-panel {
  background-color: white !important;
}
 
mat-paginator {
  width: 100%;
}
 
 
 
 
/******************* EXPANSION PANEL ***************************/
 
mat-expansion-panel-header {
  padding: 40px 20px !important;
}
 
mat-expansion-panel {
  border-radius: 10px !important;
}
 
 
.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}
 
 
.bi-chevron-down:hover {
  cursor: pointer;
}
 
 
 
 
/****** FONTS ******/
 
@font-face {
  font-family: 'Muli-Regular';
  src: url('/fonts/Muli/Muli-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
 
@font-face {
  font-family: 'Muli-Bold';
  src: url('/fonts/Muli/Muli-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
 
 
.mat-mdc-option.mdc-list-item.mdc-list-item--selected.mat-mdc-option-active {
  background-color: #9ACC9A !important;
  color: white !important;
}
 
 
 
/***** BOTONES - NEW ******/
 
.btn {
  border-radius: var(--border-radius);
  padding: 15px;
  border: none;
  cursor: pointer;
}
 
.btn-verde {
  background: var(--logifruit-secundario);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.15s ease-in-out;
}
 
.btn-verde:hover {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.25);
}
 
 
.btn-verde:active {
  background: var(--logifruit-degradado);
}
 
.btn-bottom-underline {
  border-bottom: 4px solid var(--logifruit);
  background: var(--bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
 
.btn-bottom-underline:hover {
  background: white;
  color: var(--logifruit);
}
 
.btn-bottom-underline:active  {
  background: var(--logifruit-secundario);
  color: black;
}
 
.btn-verde-degradado {
  background: var(--logifruit-degradado);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
 
.btn-verde-degradado:hover:not(:disabled) {
  filter: brightness(1.03);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.15s ease-in-out;
}
 
.btn-verde-degradado:disabled {
  background: var(--bg);
  color: black;
  cursor: not-allowed;
}
 
 
.btn-outline {
  outline: 2px solid var(--logifruit);
  outline-offset: -2px;
  background: var(--bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
 
.btn-verde:active,
.btn-bottom-underline:active,
.btn-verde-degradado:active,
.btn-outline:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
 
 
th {
  font-weight: 100;
}
 
 
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label {
  color: var(--logifruit) !important;
}
 
 
/* CHECKBOX */
 
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: var(--logifruit); /* borde cuando no está marcado */
}
 
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: var(--logifruit) !important; /* color de fondo al marcar */
}
 
 
 
/** ICONS **/
 
.icon-filter {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/icons/fondo-verde/svg/Filtro.svg");
  color: #fff;
  cursor: pointer;
}
 
.icon-filter.fill {
  background-image: url("/icons/fondo-verde/svg/Filtro_fill.svg");
}
 
 
.bi {
  display: inline-block;
  vertical-align: -0.125em;
  overflow: visible;
  /* hereda color del texto si tus SVG usan currentColor */
}
 
.bi-lg { width: 1.5em; height: 1.5em; }
.bi-2x { width: 2em; height: 2em; }
 